/* You can add global styles to this file, and also import other style files */
.strong {
    font-weight: 700 !important;
}

.td-narrow {
    width: 40px !important;
}

.badge {
    font-size: 89%;
    text-transform: capitalize;
    font-weight: 600;
}

.btn {
    letter-spacing: 0.5px;
}

em {
    color: rgb(0, 51, 146);
    font-weight: 600;
}