<div class="container pt-5 pb-5" *ngIf="casopisi">
    <ng-container *ngFor="let c of casopisi">
        <div class="card  mb-3" style="max-width: 30rem;" *ngIf="c.active">
            <div class="card-header">{{c.issn}}</div>
            <div class="card-body">
              <h4 class="card-title">{{c.naziv}}</h4>
              <a href="#" class="card-link">Više informacija</a>
              <a href="javascript:;" (click)="onRegistration(c)" class="card-link" *ngIf="!c.registered && c.sellerId == 0">Registracija plaćanja</a>
              <a href="javascript:;" class="card-link" (click)="onReviewRegistration(c)" *ngIf="c.sellerId != 0">Pregled registracije plaćanja</a>
            </div>
          </div>
    </ng-container>
</div>